*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
}

header{
    background: gray; 
    height: 10vh;
    width: 616px; 
    text-align: center; 
    display: block;
    margin: 0 auto;
    
}

h1{
   color: white;  
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   padding: 15px;
}

main{
    text-align: center;
    background-color: white;
    width: 600px;
    display: block;
    padding: 10px;
    margin: 20px auto;
}

img{
    height: 200px;
    width: 200px; 
}

p{
    text-justify: auto;
    font-size: medium;
    text-align: center;
    padding: 5px;
}

h3{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

h4{
    text-align: center;
    font-size: large;
}

#form{ text-align: left;

}

.titulo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-size: x-large;
}

.aq{
    text-align: justify;

}

.b{
    text-align: justify; 
}

.poligonos{
    display: inline-block;
   text-align: center;
}

.poli{ 
    width: 100px;
    height: 100px;
    margin: 9px;
}

#pentagono, #hexagono, #heptagono{
    display: none;


}

.voltar{
    display: block;
    text-align: left;
    text-decoration: none;
}

footer{
    background-color: gray;
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 616px;
    height: 40px;
}

.footer{
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    padding: 10px;
}
